*{
  font-family: 'Brygada 1918', serif;
font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 600px) {
  .carousel-image {
    height: auto;
  }
  .carousel-div{
    height: auto;
  }
}

#myCarousel{
  height: 70vh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow:visible;
 
  position: relative;
}

.carousel-image{
  object-fit: cover;
  overflow: visible;
}

.image-dialyzer{
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.carousel {
  margin-bottom: 4rem;
  position: relative;
}



